.container {
  width: 100%;
  height: fit-content;
  margin-top: 1.5rem;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}

@media screen and (min-width: 450px) {
  .wrapper {
    justify-content: start;
    gap: 3rem;
  }
}

@media screen and (min-width: 1024px) {
  .container {
    margin-top: 3rem;
  }

  .wrapper {
    justify-content: start;
    gap: 2.5rem;
  }
}
